@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Kontrol Paneli">@localizer["Kontrol Paneli"]</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-right-arrow"></i>
            <div data-i18n="Sayfaya Git">@localizer["Sayfaya Git"]</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Default/Index/" class="menu-link">
                    <div data-i18n="Ana Sayfa">@localizer["Ana Sayfa"]</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Member/Dashboard/Index/" class="menu-link">
                    <div data-i18n="Üye Profil Sayfası">@localizer["Üye Profil Sayfası"]</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-icon tf-icons bx bx-building"></i>
            <div data-i18n="Rezervasyonlar">@localizer["Rezervasyonlar"]</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-list-ul"></i>
            <div data-i18n="Liste ve Raporlar">@localizer["Liste ve Raporlar"]</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Destination/Index/" class="menu-link">
                    <div data-i18n="Mail Listesi">@localizer["Mail Listesi"]</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Pdf/Index/" class="menu-link">
                    <div data-i18n="Pdf Rapor">@localizer["Pdf Rapor"]</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Excel/Index/" class="menu-link">
                    <div data-i18n="Excel Rapor">@localizer["Excel Rapor"]</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-wrench"></i>
            <div data-i18n="Düzenle">Düzenle</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Destination/Index/" class="menu-link">
                    <div data-i18n="Rotalar">Rotalar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/City/Index/" class="menu-link">
                    <div data-i18n="Rota İşlemleri">Rota İşlemleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Öne çıkanlar">Öne çıkanlar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Öne çıkanlar 2">Öne çıkanlar 2</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Alt hakkında">Alt hakkında</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-face"></i>
            <div data-i18n="Kişiler">Kişiler</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/User/Index/" class="menu-link">
                    <div data-i18n="Üyeler">Üyeler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Guide/Index/" class="menu-link">
                    <div data-i18n="Rehberler">Rehberler</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-chat"></i>
            <div data-i18n="Yorumlar ve Mesajlar">Yorumlar ve Mesajlar</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/ContactUs/Index/" class="menu-link">
                    <div data-i18n="Mesajlar">Mesajlar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Announcement/Index/" class="menu-link">
                    <div data-i18n="Duyurular">Duyurular</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Mail/Index/" class="menu-link">
                    <div data-i18n="Mail Gönder">Mail Gönder</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Comment/Index/" class="menu-link">
                    <div data-i18n="Tur Yorumları">Tur Yorumları</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Referans Yorumları">Referans Yorumları</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Şifre İşlemleri">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxs-face-mask"></i>
            <div data-i18n="Rol İşlemleri">Rol İşlemleri</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Role/Index/" class="menu-link">
                    <div data-i18n="Roller">Roller</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/Role/UserList/" class="menu-link">
                    <div data-i18n="Rol Ata">Rol Ata</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="/Login/SignOut/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
            <div data-i18n="Çıkış Yap">Çıkış Yap</div>
        </a>
    </li>
</ul>
