@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mesajlar (@Model.Count())</h5>
        <a class="btn btn-primary" href="/Admin/ContactUs/ReadMessages/">Okunan Mesajlar</a>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Mail</th>
                    <th>Konu</th>
                    <th>Mesaj</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.UserMail</td>
                        <td>@item.Subject</td>
                        <td>@item.Message</td>
                        <td>@item.ContactUsDate.ToShortDateString()</td>

                        @if (item.ContactUsStatus == true)
                        {
                            <td><span class="badge bg-label-success me-1">Aktif</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-label-warning me-1">Okundu</span></td>
                        }

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    @if (item.ContactUsStatus ==true)
                                    {
                                        <a class="dropdown-item" href="/Admin/ContactUs/ChangeStatusIndex/@item.ContactUsId"><i class='bx bx-check-circle'></i> Okundu olarak işaretle</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="/Admin/ContactUs/ChangeStatusIndex/@item.ContactUsId"><i class='bx bx-x-circle'></i> Okunmadı olarak işaretle</a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer" style="text-align:center;">
    </div>
</div>
